<div class="clsdivbackground" id="iddivbackground">
    
    
    <div class="clscoverone" id="idcoverone">
      <div class="clsdivlogo" id="iddivlogo">
        <img class="clsimglogo" src="assets/images/jcmscompanylogo.jpg"/>
      </div>
      <div class="clsdivheader" id="iddivheader">
      
        <div class="clsdivloggedinfo">
        Welcome <label class="clslbldispalyname">{{displayname}}</label>
                <label class="clslbldispalyrole">{{rolename}}</label>
                <label class="clslbldisplaymoduleindex"  id="idlblmoduleindex">{{moduleindex}}</label>
        </div>
        
        <div class="clsdivloggedbutton">
          <a (click)="proceedlogout();" style="text-decoration: underline;cursor: pointer;color:skyblue">Logout  <i class="fa fa-sign-out"></i></a>
        </div>
      
      </div>
      <div class="clsdivnavigation" id="iddivnavigation">
      
        <div class="navbar">
          <a href="jotwebface1000/home" id="M1000">Home</a>
          
          <div class="dropdown">
          <button class="dropbtn" id="M2000">Workday 
          </button>
          <div class="dropdown-content">
            <a href="jotwebface1000/businessCreatePage"  id="M2100">Create Business</a>
            <a href="jotwebface1000/businessReadPage"    id="M2200">Read Business</a>
            <a href="jotwebface1000/businessUpdatePage"  id="M2300">Update Business</a>
            <a href="jotwebface1000/businessDeletePage"  id="M2400">Delete Business</a>
          </div>
          </div> 
            
          <div class="dropdown" >
          <button class="dropbtn" id="M3000">Settings 
          </button>
          <div class="dropdown-content">
            <a href="jotwebface1000/settingsUserPage" id="M3100">User</a>
            <a href="jotwebface1000/settingsRolePage" id="M3200">Role</a>
                <div class="dropdown-r8" >
                  <button class="dropbtn-r8" id="M3300">Browser 
                  </button>
                  <div class="dropdown-content-r8">
                    <a href="jotwebface1000/settingsBrowserSessionPage" id="M3310">Sessions</a>
                  </div>
              </div> 
          </div>
          </div> 
        </div>
        
      </div>
    </div>
    
    <div class="clscovertwo" id="idcovertwo">
      <div class="clsdivleftcontent" id="iddivleftcontent">
      
      </div>
      <div class="clsdivcentercontent" id="iddivcentercontent">
<!----------------------------------------- Center Content started ------------------------------------------->
<i class="fa fa-refresh" style="font-size:25px;color:#90c0f3;float:left;margin-left: 10px;margin-top: 10px;" (click)="Refresh();"></i>
          
<div class="clsdivworkarea">
  <label>Choose Role</label>
  <select id="roles" (change)='roleChanging($event)'>
  <option *ngFor="let row of roleslist" [value]="row.roleid">
    {{row.rolename}}
  </option>
</select>

<input type="button" (click)="openPopup1();" value="Add Role"/>
    <br>
    <br> 
    <br>   
    <table class="tblrolesinfo">
      <thead>  
      <tr>
        <th>ModuleName</th>
        <th></th>
        <th></th>
        <th  style="text-align: center;">Access</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rrl of rolesrightlist;">
        <td [ngSwitch]="rrl.level">
          <label *ngSwitchCase="1">{{ rrl.modulename }}</label>
        </td>
        <td [ngSwitch]="rrl.level">
          <label *ngSwitchCase="2">{{ rrl.modulename }}</label>
        </td>
        <td [ngSwitch]="rrl.level">
          <label *ngSwitchCase="3">{{ rrl.modulename }}</label>
        </td>
        <td [ngSwitch]="rrl.rights" style="text-align: center;"  (click)="ChangeModuleAccess(rrl)">
          <img *ngSwitchCase="1"  alt="" src="assets/images/greenball.png" />
          <img *ngSwitchCase="0"  alt="" src="assets/images/redball.png" />
          <img *ngSwitchDefault=""   alt="" src="assets/images/whiteball.png" />
        </td>
      </tr>
    </tbody>
  </table>
</div>  
 

<!-- -------------------------------------------------------------UserRoleNewPopup content started ------------------------------------------------------------------------->
<div id="myModal" class="modal-UserRoleNewPopup">
  <div id="myModalheader" class="modal-header-UserRoleNewPopup">
   <span class="close" (click)="closeUserRoleNewPopup()">&times;</span>
  </div>
  <div class="modal-content-UserRoleNewPopup">
        <div>
            <h1>Register</h1>
            <p>Please create new role for this application.</p>
            <hr>
            
          <table class="tblrolesregister">
          <thead> 
          <tr>
          <th>
            </th>
            <th>
            </th>
            </tr>
          </thead>  
            
          <tbody>
          <tr>
          <td>
            <label for="rolename"><b>Role</b></label>
            </td>
            <td>
            <input type="text" placeholder="Enter Role" name="newrolename" id="newrolename" />
            </td>
            </tr>
          
          <tr>
          <td>
          </td>
          <td>
            <input type="button" placeholder="Save" name="Save" id="Save" value="Save" (click)="RoleRegistration();"/>
            </td>
          </tr>
           </tbody>  
            </table>
        </div>				


  </div>
   <div class="modal-footer-UserRoleNewPopup">
  </div>
</div>
<!-- -------------------------------------------------------------UserRoleNewPopup content completed------------------------------------------------------------------------>			

<div id="loader" class="loader">
  <i class="fa fa-refresh fa-spin" style="font-size:75px;position:absolute;left:50%;top:40%;z-index:0;color:chartreuse;"></i>
</div>	

<!------------------------------------------- Center Content finished ------------------------------------------>
      </div>
      <div class="clsdivrightcontent" id="iddivrightcontent">
      
      </div>
    </div>
  
    <div class="clsdivfooter" id="iddivfooter">
        Copyrights by   <label>{{client}}</label>
        Version:   <label>{{version}}</label>
    </div>
    
    
</div>