<div class="login-container">
    <form [formGroup]="logindata" (ngSubmit)="handleSubmit()">
       
        <label for="username">User Id</label>
        <input type="username" id="username" placeholder="Please enter your username" formControlName="username">

        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Please enter your password" formControlName="password">
        
        <button type="submit">Login</button>
        
        <a routerLink="/register">Don't have an Account?</a>
        
    </form>
</div>


<div id="loader" class="loader">
    <div class="inner"></div>
</div>	
