<div class="clsdivbackground" id="iddivbackground">
    
    
      <div class="clscoverone" id="idcoverone">
        <div class="clsdivlogo" id="iddivlogo">
          <img class="clsimglogo" src="assets/images/jcmscompanylogo.jpg"/>
        </div>
        <div class="clsdivheader" id="iddivheader">
        
          <div class="clsdivloggedinfo">
          Welcome <label class="clslbldispalyname">{{displayname}}</label>
                  <label class="clslbldispalyrole">{{rolename}}</label>
                  <label class="clslbldisplaymoduleindex"  id="idlblmoduleindex">{{moduleindex}}</label>
          </div>
          
          <div class="clsdivloggedbutton">
          <a (click)="proceedlogout();"  style="font-size:20px;color:burlywood;text-decoration: none;cursor: pointer;">Logout <i class="fa fa-sign-out"></i></a>
          </div>
        
        </div>
        <div class="clsdivnavigation" id="iddivnavigation">
        
          <div class="navbar">
            <a href="jotwebface1000/home" id="M1000">Home</a>
            
            <div class="dropdown">
            <button class="dropbtn" id="M2000">Workday 
            </button>
            <div class="dropdown-content">
              <a href="jotwebface1000/businessCreatePage"  id="M2100">Create Business</a>
              <a href="jotwebface1000/businessReadPage"    id="M2200">Read Business</a>
              <a href="jotwebface1000/businessUpdatePage"  id="M2300">Update Business</a>
              <a href="jotwebface1000/businessDeletePage"  id="M2400">Delete Business</a>
            </div>
            </div> 
              
            <div class="dropdown" >
            <button class="dropbtn" id="M3000">Settings 
            </button>
            <div class="dropdown-content">
              <a href="jotwebface1000/settingsUserPage" id="M3100">User</a>
              <a href="jotwebface1000/settingsRolePage" id="M3200">Role</a>
                  <div class="dropdown-r8" >
                    <button class="dropbtn-r8" id="M3300">Browser 
                    </button>
                    <div class="dropdown-content-r8">
                      <a href="jotwebface1000/settingsBrowserSessionPage" id="M3310">Sessions</a>
                    </div>
                </div> 
            </div>
            </div> 
          </div>
          
        </div>
      </div>
      
      <div class="clscovertwo" id="idcovertwo">
        <div class="clsdivleftcontent" id="iddivleftcontent">
        
        </div>
        <div class="clsdivcentercontent" id="iddivcentercontent">
  <!----------------------------------------- Center Content started ------------------------------------------->
  <i class="fa fa-refresh" style="font-size:40px;color:#ffc107;float:right;" (click)="Refresh();"></i>        
            
            
            
  <!------------------------------------------- Center Content finished ------------------------------------------>
        </div>
        <div class="clsdivrightcontent" id="iddivrightcontent">
        
        </div>
      </div>
    
      <div class="clsdivfooter" id="iddivfooter">
          Copyrights by   <label>{{client}}</label>
          Version:   <label>{{version}}</label>
      </div>
      
      
  </div>